@font-face {
	font-family: 'Exo2';
	src: url('../assets/fonts/exo2/Exo2-Regular.eot');
	src: local('regular'),
        url("../assets/fonts/exo2/Exo2-Regular.eot?#iefix") format("embedded-opentype"),
        url('../assets/fonts/exo2/Exo2-Regular.otf') format('opentype'),
        url('../assets/fonts/exo2/Exo2-Regular.woff2') format('woff2'),
        url('../assets/fonts/exo2/Exo2-Regular.ttf') format('truetype'),
        url('../assets/fonts/exo2/Exo2-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2';
	src: url('../assets/fonts/exo2/Exo2-Medium.eot');
	src: local('medium'),
        url("../assets/fonts/exo2/Exo2-Medium.eot?#iefix") format("embedded-opentype"),
        url('../assets/fonts/exo2/Exo2-Medium.otf') format('opentype'),
        url('../assets/fonts/exo2/Exo2-Medium.woff2') format('woff2'),
        url('../assets/fonts/exo2/Exo2-Medium.ttf') format('truetype'),
        url('../assets/fonts/exo2/Exo2-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2';
	src: url('../assets/fonts/exo2/Exo2-Bold.eot');
	src: local('bold'),
        url("../assets/fonts/exo2/Exo2-Bold.eot?#iefix") format("embedded-opentype"),
        url('../assets/fonts/exo2/Exo2-Bold.otf') format('opentype'),
        url('../assets/fonts/exo2/Exo2-Bold.woff2') format('woff2'),
        url('../assets/fonts/exo2/Exo2-Bold.ttf') format('truetype'),
        url('../assets/fonts/exo2/Exo2-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2';
	src: url('../assets/fonts/exo2/Exo2-ExtraBold.eot');
	src: local('extrabold'),
        url("../assets/fonts/exo2/Exo2-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url('../assets/fonts/exo2/Exo2-ExtraBold.otf') format('opentype'),
        url('../assets/fonts/exo2/Exo2-ExtraBold.woff2') format('woff2'),
        url('../assets/fonts/exo2/Exo2-ExtraBold.ttf') format('truetype'),
        url('../assets/fonts/exo2/Exo2-ExtraBold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1em;
}

#particles-js{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(90deg, #FAEFCC 0%, #FAB397 100%), #4E54C8;
}

h1,
h2,
h3,
h4,
h5,
h6,
fieldset {
    margin: 0;
    padding: 0;
}

textarea{
    resize: none;
}


textarea::-webkit-input-placeholder {
    color: #B1AFAF;
}
textarea:-moz-placeholder {
    color: #B1AFAF;
}
textarea::-moz-placeholder {
    color: #B1AFAF;
}
textarea:-ms-input-placeholder {
    color: #B1AFAF;
}

.wrapper{
    position: relative;
}

.header {
    text-align: center;
    margin-bottom: 130px;
}

.header-title{
    margin-bottom: 30px;
    font-family: 'Exo2', Arial, Helvetica, sans-serif;
    font-size: 5.625em;
    line-height: 1.2;
    font-weight: 800;
}

.header-subtitle {
    font-family: 'Exo2', Arial, Helvetica, sans-serif;
    font-size: 3.125em;
    line-height: 1.2;
    font-weight: 700;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 30px;
}

.main{
    flex: 1 1 auto;
}

.original-text-fieldset,
.fragment-text-fieldset{
    display: flex;
}

.original-text__controls{
    display: flex;
    flex-direction: column;
}

.form__controls{
    min-width: 250px;
    max-width: 250px;
    margin-right: 26px;
}

.original-text-fieldset{
    margin-bottom: 16.21px;
}
.original-text-fieldset__textarea textarea{
    padding: 13.93px 32px;
}

.fragment-text-fieldset__textarea textarea{
    padding: 8.36px 32px;
}

.original-text-fieldset__textarea textarea,
.fragment-text-fieldset__textarea textarea,
.original-text-fieldset__textarea,
.fragment-text-fieldset__textarea{
    width: 100%;
}

.original-text-fieldset__textarea textarea,
.fragment-text-fieldset__textarea textarea{
    background: #F4F4F4;
    border: 2px solid #191F82;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125em;
    line-height: 1.2;
    color: #B1AFAF;
}

.original-text__controls__button,
.fragment-text__controls__button {
    width: 100%;
}



#opacity{
    position: absolute;
    background-color: #000000;
    background-image: url(../assets/images/form-section/main.png);
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.image-container{
    position: relative;
    height: 152px;
}

.img--brain{
    position: absolute;
    left: -9999px;
}

.original-text__controls__button,
.fragment-text__controls__button{
    background: #008F02;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Exo2', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.75em;
    line-height: 1.2;
    color: #ffffff;
}

.original-text__controls__button:hover,
.fragment-text__controls__button:hover{
    background-color: #54C755;
}
.original-text__controls__button:active,
.fragment-text__controls__button:active{
    background-color: #034E04; 
}

.original-text__controls__button{
    height: 61.27px;
    margin-bottom: 16.73px;
}

.fragment-text__controls__button{
    height: 60px;
}

.original-text-fieldset__textarea textarea {
    height: 220px;
}

.fragment-text-fieldset__textarea textarea{
    height: 60px;
}

.plagiarism-section__form{
    margin-bottom: 120px;
}

.footer__wrapper,
.footer-logo,
.socials__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__wrapper
{
    padding-bottom: 29px;
    padding-top: 31px;
    padding-left: 34px;
    padding-right: 46px;
    background: #FFFFFF;
    border: 2px solid #191F82;
    border-radius: 10px;
}

.footer-logo__link{
    margin-right: 0px;
    padding-right: 6.98px;
}

.footer-logo__text{
    margin-top: 5px;
    font-family: 'Exo2', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #008F02;
}

.copyrights{
    font-family: 'Exo2', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.2;
    color: #5C5C5C;
}

.socials{
    min-width: 170px;
    max-width: 170px;
}

.socials__item{
    width: 40px;
    height: 40px;
}

.socials__item:hover,
.footer-logo:hover{
    transform: scale(1.2, 1.2);
    transition: ease-out 550ms;
    cursor: pointer;
}

@media only screen and (min-width : 320px) and (max-width : 644px) {
    .header{
        margin-bottom: 40px;
    }
    
    .header-title{
        font-size: 3.125em;
    }

    .header-subtitle{
        font-size: 1em;
    }

    .original-text-fieldset__textarea,
    .image-container,
    .fragment-text-fieldset__textarea{
        margin-bottom: 20px;
    }
    .original-text-fieldset__textarea textarea{
        max-height: 181px;
    }
    
    .original-text__controls{
        flex-direction: column-reverse;
    }

    .original-text-fieldset,
    .fragment-text-fieldset{
        flex-wrap: wrap-reverse;
    }

    .original-text__controls__button{
        margin-bottom: 0;
    }
    .form__controls{
        min-width: 100%;
        max-width: 100%;
        margin-bottom: 0;
    }

    .fragment-text__controls{
        margin-bottom: 15px;
    }

    .original-text-fieldset{
        margin-bottom: 40px;
    }

    .fragment-text__controls__button{
        margin-bottom: 0;
    }

    .footer{
        text-align: center;
    }

    .footer-logo,
    .copyrights{
        margin-right: 20px;
    }
    .footer-logo,
    .copyrights{
        margin-bottom: 15px;
    }
    .footer__wrapper{
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width : 320px)
and (max-width : 480px){
    .footer-logo,
    .copyrights{
        margin-bottom: 11px;
    }
}