@font-face {
	font-family: 'Exo2';
	src: url('../asstes/fonts/exo2/Exo2-Regular.eot');
	src: local('regular'),
        url("../assets/fonts/exo2/Exo2-Regular.eot?#iefix") format("embedded-opentype"),
        url('../asstes/fonts/exo2/Exo2-Regular.otf') format('opentype'),
        url('../asstes/fonts/exo2/Exo2-Regular.woff2') format('woff2'),
        url('../asstes/fonts/exo2/Exo2-Regular.ttf') format('truetype'),
        url('../asstes/fonts/exo2/Exo2-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2';
	src: url('../asstes/fonts/exo2/Exo2-Medium.eot');
	src: local('medium'),
        url("../assets/fonts/exo2/Exo2-Medium.eot?#iefix") format("embedded-opentype"),
        url('../asstes/fonts/exo2/Exo2-Medium.otf') format('opentype'),
        url('../asstes/fonts/exo2/Exo2-Medium.woff2') format('woff2'),
        url('../asstes/fonts/exo2/Exo2-Medium.ttf') format('truetype'),
        url('../asstes/fonts/exo2/Exo2-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2';
	src: url('../assets/fonts/exo2/Exo2-Bold.eot');
	src: local('bold'),
        url("../assets/fonts/exo2/Exo2-Bold.eot?#iefix") format("embedded-opentype"),
        url('../asstes/fonts/exo2/Exo2-Bold.otf') format('opentype'),
        url('../assets/fonts/exo2/Exo2-Bold.woff2') format('woff2'),
        url('../assets/fonts/exo2/Exo2-Bold.ttf') format('truetype'),
        url('../assets/fonts/exo2/Exo2-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2';
	src: url('../assets/fonts/exo2/Exo2-ExtraBold.eot');
	src: local('extrabold'),
        url("../assets/fonts/exo2/Exo2-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url('../asstes/fonts/exo2/Exo2-ExtraBold.otf') format('opentype'),
        url('../assets/fonts/exo2/Exo2-ExtraBold.woff2') format('woff2'),
        url('../assets/fonts/exo2/Exo2-ExtraBold.ttf') format('truetype'),
        url('../assets/fonts/exo2/Exo2-ExtraBold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

html, body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(90deg, #FAEFCC 0%, #FAB397 100%), #4E54C8;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

.main-heading{
    margin-bottom: 30px;
    font-family: 'Exo2', Arial, Helvetica, sans-serif;
    font-size: 90px;
    line-height: 108px;
    font-weight: 800;
}

h2 {
    font-family: 'Exo2', Arial, Helvetica, sans-serif;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
}

main button {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color:#F4F4F4;
}
main .buttonOriginal
{
    position: absolute;
    width: 250px;
    height: 61.27px;
    left: 135px;
    top: 344px;

    background: #008F02;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

main .buttonCheck
{
    position: absolute;
    width: 250px;
    height: 60px;
    left: 136px;
    top: 590px;
    
    background: #008F02;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

main img
{
    position: absolute;
    width: 250px;
    height: 151.79px;
    left: 134px;
    top: 422px;
}

main textarea {
    position: absolute;
    resize: none;
    background: #F4F4F4;
    border: 2px solid #191F82;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    padding-top: 13.93px;
    padding-left: 32px;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #B1AFAF;
}
main .text {
    width: 904px;
    height: 220px;
    left: 411px;
    top: 344px;
}

main .fragment {
    width: 904px;
    height: 60px;
    left: 411px;
    top: 590px;
}

footer
{
    position: absolute;
    width: 1180px;
    height: 84px;
    left: 135px;
    top: 770px;

    background: #FFFFFF;
    border: 2px solid #191F82;
    box-sizing: border-box;
    border-radius: 10px;
}

footer .labelDev
{
    position: absolute;
    left: 11.74%;
    right: 86.4%;
    top: 88.16%;
    bottom: 8.29%;

    background: #008F02;
}

footer .nickname
{
    position: absolute;
    width: 180px;
    left: 514px;
    top: 25.17px;
  
    font-family:#5C5C5C;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
}

footer li
{
    position: absolute;
    top: 20.15px;
    bottom: 23.85px;
    list-style-type: none;
}

footer .gitHub
{
    left: 964px;
}

footer .vk
{
    left: 1029px;
}

footer .facebook
{
    left: 1094px;
}